<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" name="Gecko.EPiServer.IconSelectionEditor.Core" clientResourceRelativePath="" tags="EPiServerModulePackage">
  <assemblies>
    <add assembly="Gecko.EPiServer.IconSelectionEditor.Core" />
  </assemblies>
  <clientModule>
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="Gecko.EPiServer.IconSelectionEditor.Core.Style" />
    </requiredResources>
  </clientModule>
  <clientResources>
    <add name="Gecko.EPiServer.IconSelectionEditor.Core.Style" path="ClientResources/Gecko/IconSelectionEditor.css" resourceType="Style"/>
  </clientResources>

  <dojo>
    <paths>
      <add name="gecko" path="ClientResources/Gecko" />
    </paths>
  </dojo>
</module>
