.geckoIconSelectionEditorDropdown {

}

.geckoIconSelectionEditorGrid .dijitMenuTable {
    padding-left: 5px;
}

.geckoIconSelectionEditorGrid tbody div.dijitMenuItem {
    padding: 1em !important;
}

.geckoIconSelectionEditorGrid tbody div.dijitMenuItemSelected {
    margin: -1px;
}

.geckoIconSelectionEditorGrid tbody div.dijitMenuSeparatorTop {
    border: 0px !important;
}
