.geckoIconSelectionEditorDropdown {
}

.geckoIconSelectionEditorGrid .dijitMenuTable {
    padding-left: 5px;
    padding-right: 5px;
}

.geckoIconSelectionEditorGrid tbody div.dijitMenuItem {
    padding: 1em !important;
}

.geckoIconSelectionEditorGrid tbody div.dijitMenuItemSelected {
    margin: -1px;
}

.geckoIconSelectionEditorGrid tbody div.dijitMenuSeparatorTop {
    border: 0px !important;
}

.geckoIconSelectionEditorGrid tbody .dijitMenuItem.dijitHover {
    border: solid 1px #858585;
}

.geckoIconSelectionEditorGrid thead div.dijitTextBox {
    position: absolute;
    z-index: 1000;
    margin: 0;
    box-sizing: border-box;
    display: none;
}

.geckoIconSelectionEditorFilterableGrid thead div.dijitTextBox {
    display: block;
}

.geckoIconSelectionEditorFilterableGrid thead tr td {
    padding-bottom: 28px;
}